.env
dist
**.auto.tfvars

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
site/.next/
site/out/

# production
/build
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
.idea


.env*

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
**auto.tfvars
.terraform.lock.hcl
