.job {
    padding: 20px;
}

.job:hover{
    background: #e7e7e7;
}

.layout {
    margin: 3rem auto;
    padding: 20px;
    max-width: 600px;
}

h1, h3, a {
    color: #222222;
}

a {
    color: #666666;
}

/*a:hover {*/
    /*color: #222222;*/
    /*text-decoration: none;*/
/*}*/