.layout {
    margin: 3rem auto;
    padding: 0;
    max-width: 600px;
}

.job {
    padding: 20px;
}

.job:hover {
    background: #e9e9e9;
}

.description {
    color: #444444;
}

.text {
    color: #333333;
}
